[MASTER]
init-hook='import sys; sys.path.insert(0, "src")'
ignore-paths=src/tests, src/db_helper.py

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-few-public-methods,
        redefined-builtin

[FORMAT]

max-line-length=100
indent-after-paren=4

[REFACTORING]

max-nested-blocks=2

[DESIGN]

max-statements=20
max-returns=3
max-args=4

[SIMILARITIES]

min-similarity-lines=4