{% extends "layout.html" %} {% block title %}Lisää {{ reference_data[reference_type]["name"] }} -
Viitteet{% endblock %} {% block content %}
<h2>Hae viite DOI:lla</h2>
<form class="doi-form" method="GET" action="{{ url_for('add') }}">
  <wa-input
    appearance="filled"
    class="doi-form-input"
    label="DOI"
    type="text"
    name="doi"
    value="{{ request.args.get('doi', '') }}"></wa-input>
  <input type="hidden" name="type" value="{{ reference_type.value }}" />
  <wa-button variant="brand" type="submit" value="doi">Hae</wa-button>
</form>
<br />
<br />

<h2>{{ reference_data[reference_type]["name"] }} viitteen tiedot</h2>
<form class="reference-form" method="POST" action="{{ url_for('add') }}">
  <wa-select label="Tagi" appearance="filled" name="tag">
    <wa-option selected value="">Ei tagia</wa-option>
    <wa-option value="kandityö">Kandidaatintutkielma</wa-option>
    <wa-option value="gradu">Pro gradu -tutkielma</wa-option>
    <wa-option value="väitöskirja">Väitöskirja</wa-option>
  </wa-select>
  <wa-divider></wa-divider>
  {% for field, data in reference_data[reference_type]["fields"].items() %} {% if data["required"]
  %} {% include "reference_form_field.html" with context %} {% endif %} {% endfor %}
  <wa-details appearance="plain" icon-placement="start" class="reference-form-optional-fields">
    <div class="reference-form-optional-fields-summary" slot="summary">
      <p>Valinnaiset kentät</p>
    </div>
    {% for field, data in reference_data[reference_type]["fields"].items() %} {% if not
    data["required"] %} {% include "reference_form_field.html" with context %} {% endif %} {% endfor
    %}
  </wa-details>
  <input type="hidden" name="reference_type" value="{{ reference_type.value }}" />

  <div class="reference-form-actions">
    <wa-button variant="brand" type="submit" value="lisää">Tallenna</wa-button>
    <wa-button variant="brand" appearance="plain" onclick="window.history.back()"
      >Takaisin</wa-button
    >
  </div>
</form>

{% endblock %}
