{% extends "layout.html" %} {% block title %}Lisää {{ reference_data[reference_type]["name"] }} -
Viitteet{% endblock %} {% block content %}
<h2>Hae viite DOI:lla</h2>
<form method="GET" action="{{ url_for('add') }}">
  <label>DOI</label>
  <input type="text" name="doi" />
  <input type="hidden" name="type" value="{{ reference_type.value }}" />
  <button type="submit" value="doi">Hae DOI</button>
</form>
<br />
<br />

<h2>Täytä viitteen tiedot</h2>
<form method="POST" action="{{ url_for('add') }}">
  {% for field, data in reference_data[reference_type]["fields"].items() %} {% if field !=
  ReferenceField.TAG and data["required"] %} {% set value = prefill_data.get(field.value, "") %} {%
  if reference_fields[field]["type"] == ReferenceFieldType.TEXT %}

  <label>{{ reference_fields[field]["name"] }}{% if data["required"] %}*{% endif %}</label><br />
  <input
    type="text"
    name="{{ field.value }}"
    value="{{ value }}"
    required
    pattern=".*[0-9A-Za-zÄÖÅäöå].*"
    title="Syötä ainakin yksi kirjain tai numero" /><br />

  {% elif reference_fields[field]["type"] == ReferenceFieldType.TEXTAREA %}

  <label>{{ reference_fields[field]["name"] }}*</label><br />
  <textarea name="{{ field.value }}" required>{{ value }}</textarea><br />

  {% elif reference_fields[field]["type"] == ReferenceFieldType.NUMBER %}

  <label>{{ reference_fields[field]["name"] }}*</label><br />
  <input type="number" name="{{ field.value }}" value="{{ value }}" required min="0" /><br />

  {% endif %} {% endif %} {% endfor %}

  <label>Tagi</label><br />
  <select name="tag">
    <option value="">Ei tagia</option>
    <option value="kandityö">Kandidaatintutkielma</option>
    <option value="gradu">Pro gradu -tutkielma</option>
    <option value="väitöskirja">Väitöskirja</option></select
  ><br />

  {% for field, data in reference_data[reference_type]["fields"].items() %} {% if field !=
  ReferenceField.TAG and not data["required"] %} {% set value = prefill_data.get(field.value, "") %}
  {% if reference_fields[field]["type"] == ReferenceFieldType.TEXT %}

  <label>{{ reference_fields[field]["name"] }}</label><br />
  <input
    type="text"
    name="{{ field.value }}"
    value="{{ value }}"
    pattern=".*[0-9A-Za-zÄÖÅäöå].*"
    title="Syötä ainakin yksi kirjain tai numero" /><br />

  {% elif reference_fields[field]["type"] == ReferenceFieldType.TEXTAREA %}

  <label>{{ reference_fields[field]["name"] }}</label><br />
  <textarea name="{{ field.value }}">{{ value }}</textarea><br />

  {% elif reference_fields[field]["type"] == ReferenceFieldType.NUMBER %}

  <label>{{ reference_fields[field]["name"] }}</label><br />
  <input type="number" name="{{ field.value }}" value="{{ value }}" min="0" /><br />

  {% endif %} {% endif %} {% endfor %}

  <input type="hidden" name="reference_type" value="{{ reference_type.value }}" />
  <br />
  <button type="submit" value="lisää">Lisää</button>
</form>

<br /><a href="{{ url_for('index') }}">Takaisin</a>
{% endblock %}
