{% extends "layout.html" %} {% block title %}Viitteet{% endblock %} {% block content %}
<h2>Viitteet BibTeX-muodossa</h2>

<form class="bibtex-tag-form" action="{{ url_for('bibtex') }}" method="get">
  <wa-select
    appearance="filled"
    class="bibtex-tag-form-input"
    name="tags"
    label="Tiedostoon kuuluvat tagit"
    multiple
    with-clear>
    {% for tag in tags %}
    <wa-option value="{{ tag.id }}" {% if tag.id|string in selected_tags %}selected{% endif %}>
      {{ tag_names[tag.name] }}
    </wa-option>
    {% endfor %}
  </wa-select>
  <wa-button variant="brand" type="submit">Käytä</wa-button>
</form>

<wa-divider class="bibtex-divider"></wa-divider>

{% if bibtex_reference %}
<div class="bibtex-actions">
  <wa-button variant="brand" appearance="filled" onclick="copy_BibTex()"
    >Kopioi leikepöydälle</wa-button
  >
  <wa-button
    variant="brand"
    appearance="filled"
    onclick='location.href=`{{ url_for("bibtex_download", tags=selected_tags) }}`'
    >Lataa .bib tiedosto</wa-button
  >
</div>

<pre
  id="bibtex-text-container"
  class="bibtex-text-container"><code class="bibtex-text">{{ bibtex_reference }}</code></pre>
{% else %}
<p class="text-note">Ei viitteitä näytettäväksi.</p>
{% endif %}

<script>
  function copy_BibTex() {
    const bibtex = document.getElementById("bibtex-text-container").textContent
    navigator.clipboard.writeText(bibtex).then(function () {
      alert("BibTeX-viitteet kopioitu leikepöydälle")
    })
  }
</script>
{% endblock %}
