{% extends "layout.html" %} {% block title %}Viitteet{% endblock %} {% block content %}
<h2>Viitteet BibTeX-muodossa</h2>

<div>
  <p>Suodata tägi:</p>
  {% for tag in tags %}
  <a href="{{ url_for('bibtex', tag=tag.name) }}"> {{ tag.name }} </a>
  {% endfor %}
  <a href="{{ url_for('bibtex') }}">Kaikki tägit</a>
</div>

<br />

{% if bibtex_reference %}
<div class="actions">
  <button onclick="copy_BibTex()">Kopioi leikepöydälle</button>
  <a href="{{ url_for('bibtex_download', tag=filter_tag) }}">Lataa .bib tiedosto</a>
</div>
<pre id="bibtex-refrence"><code>{{ bibtex_reference }}</code></pre>
{% else %}
<p>Ei viitteitä näytettäväksi.</p>
{% endif %}

<div class="actions">
  <a href="/">Takaisin etusivulle</a>
</div>
<script>
  function copy_BibTex() {
    const bibtex = document.getElementById("bibtex-refrence").textContent
    navigator.clipboard.writeText(bibtex).then(function () {
      alert("BibTeX-viitteet kopioitu leikepöydälle")
    })
  }
</script>
{% endblock %}
