{% extends "layout.html" %}

{% block title %}Muokkaa viitettä {{ reference.fields[ReferenceField.KEY] }} - Viitteet{% endblock %}

{% block content %}
<h2>Muokkaa viitettä {{ reference.fields[ReferenceField.KEY] }}</h2>

<form class="reference-form" method="POST" action="{{ url_for('edit', reference_id=reference.id) }}">
  <wa-select label="Tagi" appearance="filled" name="tag">
    <wa-option {% if not reference.current_tag %}selected{% endif %} value="">Ei tagia</wa-option>
    {% for tag, tag_name in tag_names.items() %}
    <wa-option {% if reference.current_tag and reference.current_tag.name == tag %}selected{% endif %} value="{{ tag }}">{{ tag_name }}</wa-option>
    {% endfor %}
  </wa-select>

  <wa-divider></wa-divider>

  {% for field, data in reference_data[reference.type]["fields"].items() %} {% if data["required"]
  %} {% include "reference_form_field.html" with context %} {% endif %} {% endfor %}
  <wa-details open appearance="plain" icon-placement="start" class="reference-form-optional-fields">
    <div class="reference-form-optional-fields-summary" slot="summary">
      <p>Valinnaiset kentät</p>
    </div>
    {% for field, data in reference_data[reference.type]["fields"].items() %} {% if not
    data["required"] %} {% include "reference_form_field.html" with context %} {% endif %} {% endfor
    %}
  </wa-details>

  <input type="hidden" name="reference_type" value="{{ reference.type.value }}" />

  <div class="reference-form-actions">
    <wa-button variant="brand" type="submit" value="lisää">Tallenna</wa-button>
    <wa-button variant="brand" appearance="plain" onclick="window.history.back()"
      >Takaisin</wa-button
    >
  </div>
</form>
{% endblock %}
