<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Viitteet{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@awesome.me/webawesome@3.0.0/dist-cdn/styles/webawesome.css" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@awesome.me/webawesome@3.0.0/dist-cdn/webawesome.loader.js"></script>
  </head>

  <body>
    <nav class="nav">
      <div class="nav-content">
        <div>
          <a href="{{ url_for('index') }}">Etusivu</a>
          <wa-divider orientation="vertical"></wa-divider>
          <a href="{{ url_for('bibtex') }}">BibTeX</a>
        </div>
        <div>
          <wa-dropdown>
            <wa-button appearance="plain" variant="brand" slot="trigger" with-caret
              >Lisää Viite</wa-button
            >
            {% for type in reference_data %}
            <wa-dropdown-item
              type="button"
              onclick='location.href=`{{ url_for("add") }}?type={{ type.value }}`'>
              {{ reference_data[type]["name"] }}
            </wa-dropdown-item>
            {% endfor %}
          </wa-dropdown>
        </div>
      </div>
    </nav>
    <div class="page-content">{% block content %}{% endblock %}</div>

    <script type="module">
      import { allDefined } from "https://cdn.jsdelivr.net/npm/@awesome.me/webawesome@3.0.0/dist-cdn/webawesome.loader.js"
      ;(async () => {
        await allDefined()
        document.querySelector("html").style.visibility = "visible"
      })()
    </script>
  </body>
</html>
