{% if search_query or search_field or search_tag %}
<div class="divider-with-text">
  <wa-divider></wa-divider>
  <p class="text-note">Hakutulokset ({{search_results|length}} kpl)</p>
  <wa-divider></wa-divider>
</div>
{% if search_results %}
<ul class="reference-list">
  {% for reference in search_results %} {% include 'reference_item.html' %} {% endfor %}
</ul>
{% else %}
<p class="text-note">Ei tuloksia.</p>
{% endif %} {% else %}
<div class="divider-with-text">
  <wa-divider></wa-divider>
  <p class="text-note">Kaikki viitteet ({{ references|length }} kpl)</p>
  <wa-divider></wa-divider>
</div>
{% if not references %}
<p class="text-note">Ei viitteitä. Lisää ensimmäinen yläpalkista kohdassa "Lisää Viite"!</p>
{% else %}
<ul class="reference-list">
  {% for reference in references %} {% include 'reference_item.html' %} {% endfor %}
</ul>
{% endif %}{% endif %}
