<p>Viitteet:</p>
{% if not references %}
<p>Ei viitteitä</p>
{% else %}
<ul>
  {% for reference in references %}
  <li>
    <details>
      <summary>
        {{ reference.fields[ReferenceField.TITLE] }} ({{ reference.fields[ReferenceField.YEAR] }})
      </summary>
      <p>
        <a href="{{url_for('delete', reference_id=reference.id)}}">Poista</a>
        <a href="{{url_for('edit', reference_id=reference.id)}}">Muokkaa</a>
      </p>
      
      <ul>
        {% for field, value in reference.fields.items() %}
          {% if value %}
          <li>
            <strong>{{ reference_fields[field]["name"] }}:</strong> {{ value }}
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </details>
  </li>
  {% endfor %}
</ul>
{% endif %}
