html {
  visibility: hidden; /* Estetään FOUC (Flash of Unstyled Content), näykyvyys palautetaan layout.html:ssä olevassa scriptissä kun kaikki webawesome-komponentit on ladattu */
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid rgb(228, 229, 233);
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  width: 100%;
  max-width: 60rem;
}

.nav-content * {
  display: flex;
}

.page-content {
  max-width: 55rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

.search-form {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-form wa-input {
  width: 15rem;
}

.search-form wa-select {
  width: 15rem;
}

.divider-with-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.divider-with-text p {
  margin: 0;
}

.divider-with-text wa-divider {
  flex-grow: 1;
}

.text-note {
  color: rgb(84, 88, 104);
}

.text-note-light {
  color: rgb(150, 154, 170);
}

.reference-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reference-item {
  display: flex;
  margin: 0 0 2rem 0;
  min-width: 0;
}

.reference-item wa-details {
  overflow: hidden;
}

.reference-item wa-details summary {
  overflow: hidden;
}

.reference-item * {
  flex-grow: 1;
}

.reference-item-title {
  font-size: x-large;
  line-height: 1;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.reference-item-subtitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.reference-item-subtitle * {
  flex-shrink: 1;
  flex-grow: 0;
}

.reference-item wa-details wa-divider {
  margin: -1rem 0 1rem 0;
}

.reference-item-subtitle-left {
  max-width: 45%;
  overflow: hidden;
  min-width: 0;
}
.reference-item-subtitle-right {
  max-width: 45%;
  overflow: hidden;
  min-width: 0;
}

.reference-item-subtitle-left p {
  display: flex;
  gap: 0.5rem;
}

.reference-item-subtitle-right p {
  display: flex;
}

.reference-item-subtitle-key {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.reference-item-subtitle-author {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.reference-item-fields {
  margin-top: 1rem;
  display: flex;
}

.reference-item-field-names {
  flex-shrink: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reference-item-field-values {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

.reference-item-field-values p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.reference-item-field-name-container {
  display: flex;
  align-items: center;
}

.reference-item-field-name-container p {
  margin: 0;
  flex-shrink: 1;
  flex-grow: 0;
  white-space: nowrap;
}

.reference-item-field-line {
  min-width: 2rem;
  border-top: 1px dashed rgb(228, 229, 233);
  display: inline-block;
  margin-inline: 1rem;
}

.reference-item-action-buttons {
  display: flex;
  gap: 1rem;
}

.reference-item-action-buttons wa-button {
  flex-shrink: 1;
  flex-grow: 0;
}

.wa-dialog-footer-actions {
  display: flex;
  gap: 1rem;
}

.wa-dialog-footer-actions wa-button {
  flex-shrink: 1;
  flex-grow: 0;
}

.reference-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
}

.doi-form {
  display: flex;
  gap: 1rem;
  align-items: end;
  max-width: 30rem;
}

.doi-form-input {
  flex-grow: 1;
}

.reference-form-actions {
  display: flex;
  gap: 1rem;
  bottom: 1rem;
  position: sticky;
  margin-left: -1rem;
  width: fit-content;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

wa-details.reference-form-optional-fields::part(content) {
  padding: 0;
}

select[name="tag"] {
  padding: 5px;
  margin-bottom: 10px;
}
