body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
}
.header {
  text-align: center;
  border: 2px solid lightskyblue;
  margin: 1em 5em;
}
.nav {
  text-align: center;
  background-color: lightblue;
  padding: 0.5em 0;
  margin: 0.5em 5em;
}
.content {
  margin-top: 2em;
  padding: 1em;
  margin: 0.5em 0;
  text-align: center;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 1px solid black;
}

.two-column {
  display: flex;
  gap: 2em;
  align-items: flex-start;
  text-align: center;
}

.column {
  flex: 1;
}

.column h2 {
  margin-top: 0;
}

.search-form {
  text-align: center;
}

.search-form input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

.search-form select {
  width: 150px;
  padding: 5px;
  margin-bottom: 10px;
}

.search-form button {
  padding: 4px 8px;
  margin: 3px;
  font-size: 12px;
}
