html {
  visibility: hidden; /* Estetään FOUC (Flash of Unstyled Content), näykyvyys palautetaan layout.html:ssä olevassa scriptissä kun kaikki webawesome-komponentit on ladattu */
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  width: 100%;
  max-width: 60rem;
}

.nav-content * {
  display: flex;
}

.page-content {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 1px solid black;
}

.two-column {
  display: flex;
  gap: 2em;
  align-items: flex-start;
  text-align: center;
}

.column {
  flex: 1;
}

.column h2 {
  margin-top: 0;
}

.search-form {
  text-align: center;
}

.search-form input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

.search-form select {
  width: 150px;
  padding: 5px;
  margin-bottom: 10px;
}

.search-form button {
  padding: 4px 8px;
  margin: 3px;
  font-size: 12px;
}
